<div class="container">

  <table class="table table-striped">
  <tr scope="row">
  <th>Target name</th>
  <th>Last build</th>
  </tr>
  {{#each @jobs as |job|}}
  <tr>
  <td class="table-primary">

      <LinkTo @route="amazon.aws.target" @model={{job.target_name}}>
        {{job.target_name}}
      </LinkTo>
    </td>
    {{#each (await job.last_builds) as |build|}}
    {{#if (eq build.result "SUCCESS") }}
    <td class="alert alert-success">
        {{ build.result }}
    </td>

    {{else}}
    <td class="alert alert-warning">
        {{ build.result }}
    </td>
    {{/if}}
    {{/each}}
  </tr>
  {{/each}}
  </table>
</div>
