<div class="container">

  <table class="table table-striped">
  <tr scope="row">
  <th>Target name</th>
  <th>Last build</th>
  </tr>
  {{#each @jobs as |job|}}
  <tr>
  <td class="table-primary">{{job.name}}</td>
    {{#each (await job.last_builds) as |build|}}
    {{#if (eq build.result "SUCCESS") }}
    <td class="alert alert-success">
      <LinkTo @route="amazon.aws.target" @model={{build.job_name}}>
        {{ build.result }}
      </LinkTo>
    </td>

    {{else}}
    <td class="alert alert-warning">
      <LinkTo @route="amazon.aws.target" @model={{build.job_name}}>
        {{ build.result }}
      </LinkTo>
    </td>
    {{/if}}
    {{/each}}
  </tr>
  {{/each}}
  </table>
</div>
