build/details
<article class="build">
  <div class="details">
  result: {{ @build.result }}
  uuid: {{ @build.uuid }}
  duration: {{ @build.duration }}
  buildset UUID: {{@build.buildset}}
  <LinkTo @route="buildset" @model={{@build.buildset}}>
  other builds of the buildset
  </LinkTo>

  </div>
</article>
